html {
    background-image: url(images/Background.png);
    background-repeat: repeat;
}



body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    line-height: 1.5em;
    color: white; text-shadow: black 0.1em 0.1em 0.2em    
}

#description{
 font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
 line-height: 1.5em;
 color: white; text-shadow: black 0.1em 0.1em 0.2em  
}

#Bottomtext{
     font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    bottom:10px;
    left: 50%;
    
}

#banner{
   
}